
.gerybg-color th {
    background-color: #9e9e9e !important;
}

@media print {
    body {-webkit-print-color-adjust: exact;}
    thead.gerybg-color {
        background-color: #9e9e9e !important;
        -webkit-print-color-adjust: exact;
    }
}
