<div class="w-100">
    <div class="w-100">
      <button
        style="
          float: right;
          border: 1px solid lightgray;
          border-radius: 0;
          margin-bottom: 1em;
        "
        (click)="closeSection()"
        mat-icon-button
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <table class="table table-bordered">
      <tbody>
        <tr >
          <th>Data</th>
          <td>
            Value
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  