/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat-Light.otf) format("truetype");
  font-weight:300;
}

body {
 font-family: 'Montserrat', sans-serif;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




.icon-font-size {
  font-size: 20px;
}

.font-small {
  font-size: small;
}

.font-medium {
  font-size: medium;
}

.font-large {
  font-size: large;
}

.font-larger {
  font-size: larger;
}

.font-x-large {
  font-size: x-large;
}

.font-xx-large {
  font-size: xx-large;
}

.font-xxx-large {
  font-size: -webkit-xxx-large;
}

.font-21px {
  font-size: 21px;
}

.color-white {
  color: white !important;
}

.color-black {
  color: black !important;
}

.side-pan-bg-color {
  background-color: #454e79;
}

.screen-height {
  height: 100vh;
  overflow-y: auto;
}

.general-border-radius {
  border-radius: 0.25rem;
}

.font-weight-600 {
  font-weight: 600;
}

.cursor-pointer {
  cursor: pointer;
}

.gray-bg-color {
  background-color: #fafafa;
}

.border-color-grey {
  border-color: #d3d1d3 !important;
}

.btn-border-color-grey {
  border-color: rgb(160, 173, 186) !important;
}

.border-1px {
  border: 0.7px solid;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-90 {
  width: 90%;
}

.link-color {
  color: #3f76b1 !important;
}

.visibility-hide {
  visibility: hidden !important;
}

.danger-snackbar {
  z-index: 2050 !important;
  color: #721c24 !important;
  background-color: #f8d7da !important;
}

.success-snackbar {
  z-index: 2050 !important;
  color: #155724 !important;
  background-color: #d4edda !important;
}

.image-smoothfy {
  object-fit: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div:focus { outline: none !important; }
button:focus { outline: none !important; }

.button-height {
  height: 36px;
}

.overflow-x-auto {
  overflow-x: auto;
}

.table-visualization {
  width: 100%;
  overflow-x: auto;
}


/**
 * Change animation duration
 */
.animated {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

